$material-light: (
    text: (
        disabled: rgba(0, 0, 0, 0.87)
    )
);
$material-dark: (
    text: (
        disabled: rgb(255, 255, 255)
    )
);
.table-row-nohover {
    &:hover {
        background-color:'inherit';
    }
};
$input-top-spacing: '0px';